[idle_timeout]
gcode:
  {% if printer.pause_resume.is_paused %}
  M117 Idle but paused, maintaining bed temp.
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=0
  {% else %}
  TURN_OFF_HEATERS
  M84
  {% endif %}
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 1200
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.